@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: teal;
}

h1 {
  font-size: medium;
  color: black;
}

li {
  text-align: center;
  color: hotpink;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
